<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>00:00</td>  <td>General introduction (30 mins)</td> </tr>
      <tr> <td>00:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a> (50 mins) </td> </tr>
      <tr> <td>01:20</td>  <td>Bathroom break 1 (10 mins)</td> </tr>
      <tr> <td>01:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>02:20</td>  <td>Lunch break (30 mins)</td> </tr>
      <tr> <td>02:50</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>03:40</td>  <td>Bathroom break 2 (10 mins)</td> </tr>
      <tr> <td>03:50</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>04:40</td>  <td>Wrap-up</td> </tr>
      <tr> <td>05:00</td>  <td>End of day 1</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>00:00</td>  <td>Introduction (10 mins)</td> </tr>
      <tr> <td>00:10</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git </a> (1hr 20 mins) </td> </tr>
      <tr> <td>01:30</td>  <td>Bathroom break 1 (10 mins)</td> </tr>
      <tr> <td>01:40</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>02:20</td>  <td>Lunch break (30 mins)</td> </tr>
      <tr> <td>02:50</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>03:40</td>  <td>Bathroom break 2 (10 mins)</td> </tr>
      <tr> <td>03:50</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>04:40</td>  <td>Wrap-up</td> </tr>
      <tr> <td>05:00</td>  <td>End of day 2</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>00:00</td>  <td>Introduction (10 mins)</td> </tr>
      <tr> <td>00:10</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/index.html">Programming with Python</a> (1hr 20 mins) </td> </tr>
      <tr> <td>01:30</td>  <td>Bathroom break 1 (10 mins)</td> </tr>
      <tr> <td>01:40</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/index.html">Programming with Python (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>02:20</td>  <td>Lunch break (30 mins)</td> </tr>
      <tr> <td>02:50</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/index.html">Programming with Python (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>03:40</td>  <td>Bathroom break 2 (10 mins)</td> </tr>
      <tr> <td>03:50</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/index.html">Programming with Python (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>04:40</td>  <td>Wrap-up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>05:00</td>  <td>End of workshop</td> </tr>
    </table>
  </div>
</div>
