<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>00:00</td>  <td>General introduction (30 mins)</td> </tr>
      <tr> <td>00:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a> (50 mins) </td> </tr>
      <tr> <td>01:20</td>  <td>Bathroom break 1 (10 mins)</td> </tr>
      <tr> <td>01:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>02:20</td>  <td>Lunch break and <a href="https://docs.google.com/forms/d/e/1FAIpQLSfNw3erqe7zpJte36xu7IKaKtsxvLE_OFi110NkFGel3Wz5sQ/viewform"> session 1 minute feedback </a> (30 mins) </td> </tr>
      <tr> <td>02:50</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>03:40</td>  <td>Bathroom break 2 (10 mins)</td> </tr>
      <tr> <td>03:50</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>04:40</td>  <td>Unix Shell wrap-up and <a href="https://docs.google.com/forms/d/e/1FAIpQLSfhr5RzLEMFouyUagIU4vTs7NmvjjPENM2LnhMf0JYI59-GLQ/viewform"> session 2 minute feedback </a> (20 mins) </td> </tr>
      <tr> <td>05:00</td>  <td>End of day 1</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>00:00</td>  <td>Introduction (10 mins)</td> </tr>
      <tr> <td>00:10</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git </a> (1hr 20 mins) </td> </tr>
      <tr> <td>01:30</td>  <td>Bathroom break 1 (10 mins)</td> </tr>
      <tr> <td>01:40</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>02:20</td>  <td>Lunch break and <a href="https://docs.google.com/forms/d/e/1FAIpQLSfI9t3ZzFgqT2hTBJ_2t3HGhSkN8Vsll8TiwkZsCl0w6JEJdQ/viewform"> session 1 minute feedback </a> (30 mins) </td> </tr>
      <tr> <td>02:50</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>03:40</td>  <td>Bathroom break 2 (10 mins)</td> </tr>
      <tr> <td>03:50</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>04:40</td>  <td>Version control wrap-up and <a href="https://docs.google.com/forms/d/e/1FAIpQLSe8te0sSJW7oPX6GLXpU8at1mo5Ef4Zv-6OLzjqNI958bIOsg/viewform"> session 2 minute feedback </a> (20 mins) </td> </tr>
      <tr> <td>05:00</td>  <td>End of day 2</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>00:00</td>  <td>Introduction (10 mins)</td> </tr>
      <tr> <td>00:10</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/index.html">Programming with Python</a> (1hr 20 mins) </td> </tr>
      <tr> <td>01:30</td>  <td>Bathroom break 1 (10 mins)</td> </tr>
      <tr> <td>01:40</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/index.html">Programming with Python (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>02:20</td>  <td>Lunch break and <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_EXHN8I5PoFaMgtIYoaxkxqGTJUkRBPEn6pjCuzT8P3wBqg/viewform"> session 1 minute feedback </a> (30 mins) </td> </tr>
      <tr> <td>02:50</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/index.html">Programming with Python (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>03:40</td>  <td>Bathroom break 2 (10 mins)</td> </tr>
      <tr> <td>03:50</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/index.html">Programming with Python (Continued)</a> (50 mins) </td> </tr>
      <tr> <td>04:40</td>  <td>Programming with Python wrap-up and <a href="https://docs.google.com/forms/d/e/1FAIpQLSdXwqp2f4ouz-UnSEzeqvomqTagVZZGd4n-NByVagKR5U0SVg/viewform"> session 2 minute feedback </a> (10 mins) </td> </tr>
      <tr> <td>04:50</td>  <td>Workshop wrap-up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">post-workshop survey</a> (10 mins) </td> </tr>
      <tr> <td>05:00</td>  <td>End of workshop</td> </tr>
    </table>
  </div>
</div>
